### Maven ###
target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse (оставил на случай)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### VS Code
.vscode/

### jpackage / Build artifacts
/SpringBalancer/
/app/
/runtime/
*.exe
*.msi
*.zip

### Logs & temp
*.log
*.tmp
*.swp
Thumbs.db

### Mac OS
.DS_Store

### Kotlin
.kotlin/